<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Trips </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="hasNoData">
  <ion-img src="../assets/imgs/empty.svg"></ion-img>

  <ion-list-header style="margin-top: 10%">
    <ion-label color="primary" class="ion-text-center">
      <h1>No Data</h1>
      <p>Book a ride to see History</p></ion-label>
  </ion-list-header>
  </div>

<div *ngIf="hideSkeleton">
  <ion-item lines="none" *ngFor="let item of skeletOns">
    <ion-thumbnail>
      <ion-skeleton-text [animated]="true" style="width: 300px; height: 400px;"></ion-skeleton-text>
    </ion-thumbnail>
  </ion-item>

  <ion-item lines="none" *ngFor="let item of skeletOns">
    <ion-thumbnail>
      <ion-skeleton-text  [animated]="true" style="width: 300px; height: 400px;"></ion-skeleton-text>
    </ion-thumbnail>
  </ion-item>
</div>

<div *ngIf="!hideSkeleton">
  <ion-item class="message" *ngFor="let message of triphistory | async">

      <ion-avatar>
        <img *ngIf="message.image; else placeholder_avatar;" [src]="message.image" />
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <ion-icon name="person" color='primary' slot="start"></ion-icon>
          </div>
        </ng-template>
      </ion-avatar>

    <ion-col size="9"  class="message">
    <ion-label>
      <h1>{{ message.name }}</h1>
      <p>{{ message.phone }}</p>
    </ion-label>
    <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
  </ion-col>
  <ion-col size="3">
    <ion-button size='small' type="submit" color="primary" expand="full">
      <!-- <ion-icon color='light' slot="end" name="arrow-forward"></ion-icon> -->
        View
   </ion-button>
  </ion-col>
   </ion-item>
</div>






</ion-content>
